body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar h3 {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar ul {
  padding-inline-start: 0px;
}

.sidebar li {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar li.active {
  background-color: rgb(165, 165, 165);
  color: white;
}

.sidebar li:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.contentContainer {
  margin-left: 200px;
}

div.content {
  padding: 1px 16px;
}

@media screen and (max-width: 764px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar {float: left;}
  div.contentContainer {margin-left: 0;}
  div.content {margin-left: 0}
}

@media screen and (max-width: 400px) {
  .sidebar {
    text-align: center;
    float: none;
  }
}

@media screen and (min-width: 1032px) {
  div.content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

h2 {
  text-align: center;
}

.vocabulary_table {
  width: 100%;
  text-align: left;
}

.invisible {
  visibility: hidden;
}

.redText {
  color: rgb(146, 0, 0);
}

.yellowText {
  color: rgb(155, 132, 2);
}

.greenText {
  color: rgb(1, 124, 7);
}