body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar h3 {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar ul {
  padding-inline-start: 0px;
}

.sidebar li {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar li.active {
  background-color: rgb(165, 165, 165);
  color: white;
}

.sidebar li:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar {
    text-align: center;
    float: none;
  }
}

h2 {
  text-align: center;
}

.vocabulary_table {
  width: 100%;
  text-align: left;
}